.head {
color: whitesmoke;
}
.body {
background-color: teal;
max-width: 500px;
margin: auto;
}
.main {
    justify-content: center;
}
.nav {
  background-color: aliceblue;  
  box-shadow: 0px 2px 10px;
  height: 45px;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
}
.header {
color: whitesmoke; 
text-align: center;
font-family: 'Oswald', sans-serif;
}
.h1 {
  font-family: 'Oswald', sans-serif;
 text-align: center;
color: whitesmoke;
}
.ul {
  font-family: 'Oswald', sans-serif;
  text-align: center;
 color: whitesmoke; 
}
.p1 {
font-family: 'Oswald', sans-serif;
 text-align: center;
color: whitesmoke;
}

.grid-container {
  display: grid;
}
.box1:hover {
width: 300px;
border: 15px solid whitesmoke;
padding: 50px;
margin: 20px;  
opacity: 95%;
}
.box2:hover {
opacity: 95%;
width: 300px;
border: 15px solid whitesmoke;
padding: 50px;
margin: 20px;  
opacity: 95%;
}
.box3:hover {
opacity: 95%;
width: 300px;
border: 15px solid whitesmoke;
padding: 50px;
margin: 20px;  
opacity: 95%;
}
.h2 {
  color: whitesmoke;
  text-align: center; 
  font-family: 'Oswald', sans-serif;
}

table, th, td {
  border: 10px solid whitesmoke;
  color: whitesmoke;
  text-align: center; 
  font-family: 'Oswald', sans-serif
}

.footer {
 color: whitesmoke;
 text-align: center; 
 font-family: 'Oswald', sans-serif;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}